body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    color:darkgray;
    font-size: 40px;
    font-family: 'Signika', sans-serif;
   
    
}
.top-banner{
   margin-bottom: 79px;
}
span{
    color: tomato;
}
.h1c{
    color: orangered;
    font-size: 50px;
    
}
.top{
    margin-top: 100px;
}
.link-button{
    text-decoration: none;
    color: ghostwhite;
    background-image: linear-gradient(45deg,lightsalmon,tomato,rgb(255, 60, 0));
    border-radius: 20px;
    padding: 10px 40px;
    font-weight: 800;
}
.flex-container{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 160px;
    padding-right: 75px;
}
.half-width img{
    width: 100%;
}

.mid-banner{
    background-image: url(food-network-main/images/shapes/7.png);
    background-repeat: no-repeat;
    margin-bottom: 110px;
    
}
h2{
    color: rgb(85, 88, 88);
    font-size: 23px;
    text-align: center;
    font-weight: 700;
}
.mid-p{
    color: rgb(104, 101, 101);
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 60px;
}
#first-id{
    font-size: 44px;
    font-weight: 900;
}

