body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    color:darkgray;
    font-size: 40px;
    font-weight: bolder;
    
}
.top-banner{
   
}
span{
    color: tomato;
}
.h1c{
    color: orangered;
    font-size: 50px;
}
.top{
    margin-top: 100px;
}
.link-button{
    text-decoration: none;
    color: ghostwhite;
    background-image: linear-gradient(45deg,lightsalmon,tomato,rgb(255, 60, 0));
    border-radius: 20px;
    padding: 10px 40px;
    font-weight: 800;
}
.flex-container{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 160px;
    padding-right: 90px;
}
.half-width img{
    width: 100%;
}