body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    color:darkgray;
    font-size: 40px;
    font-family: 'Signika', sans-serif;
   
    
}
.top-banner{
   margin-bottom: 79px;
}
span{
    color: tomato;
}
.h1c{
    color: orangered;
    font-size: 50px;
    
}
.top{
    margin-top: 100px;
}
.link-button{
    text-decoration: none;
    color: ghostwhite;
    background-image: linear-gradient(45deg,lightsalmon,tomato,rgb(255, 60, 0));
    border-radius: 20px;
    padding: 10px 40px;
    font-weight: 800;
}
.flex-container{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 160px;
    padding-right: 75px;
}
.half-width img{
    width: 100%;
}

.mid-banner{
    background-image: url(food-network-main/images/shapes/7.png);
    background-repeat: no-repeat;
    margin-bottom: 200px;
    
}
h2{
    color: rgb(41, 43, 43);
    font-size: 23px;
    text-align: center;
    font-weight: 700;
}
.mid-p{
    color: rgb(104, 101, 101);
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 60px;
}
#first-id{
    font-size: 44px;
    font-weight: 900;
}

.p-recipies{
    margin: 200px;
    font-size: 30px;
    color: dimgrey;
    font-weight: 900;
    font-family: 'Lobster', cursive;

}


.recipies-span{
    font-size: 70px;
}
.itemh1{
    color: orangered;
    margin-left: 100px;
}
.tri-width{
    text-align: center;
    width: 15%;
    height: 32%;
    margin: 5%;
    padding: 15px;
}
.tri-img{
    
    width: 100%;
    height: 100%;
    margin: 5%;
    padding: 15px;
}
.h2smedia{
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: 900;
}

.psmedia{
    font-size: 13px;
}
.itemh12{
    margin-right: 100;
    text-align: center;
    color:firebrick;
}
.final-banner{
    background-image: url(food-network-main/images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
}
.final-h2{
    color: wheat;
    font-size: 23px;
    text-align: center;
    font-weight: 900;
}
.mid-p{
    font-size: 16px;
    font-weight: 800;
}
